/* Your Website Styles */
body {
	background: black;
	font-family: 'Lato', sans-serif;
	color: white;
}

ul a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px;
}

a:hover{
	color: red;
}

nav ul{
	padding-top: 25px;
}

ul li {
	text-align: center;
	font-weight: 300;
	list-style: none;
  	float: left;
  	margin: 0 4px 0 4px;
}

h1{
	font-weight: 900;
	color: white;
	text-align: center;
	background: black;
}

h2{
	font-weight: 700;
	background: black;
	text-align: center;
}

header{
	background-color: red;
	padding-top: 30px;
	border-radius: 0px 0px 20px 20px;
}

h1 ~ p{
	text-align: right;
	padding-right: 40px;
}

article{
	background-color: red;
	border-radius: 20px 20px 20px 20px
}

li{
	list-style-type: none;
}

p{
	color: black;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}