body{
	background-color: #E6E6E6;
}

nav{
	background: #A51724;
	position: fixed;
	top: 0;
	width: 100%;
	height: 75px;
	z-index: -1;
}

h1{
	font-family: Arial, serif;
	font-size: 72pt;
	color: white;
	margin-top: -25px;
	z-index: 0;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

h2{
	font-size: 2em;
	color: #1E1852;
}
div.box{
	width: 100%;
	height: 100%;
	background-color: #E6E6E6;
	position: relative;
	z-index: -3;
}

section.aboutme{
	font-size: 1em;
	padding-top: 8%;
	margin-right: 15%;
	float: right;
	width: 33%;
	position: relative;
	z-index: -2;
}

img.opacity{
	max-width: auto;
	max-height: 65px;
	position: fixed;
	margin-top: 5px;
	left: 44%;
	opacity: 0;
}

img.red{
	max-width: auto;
	max-height: 65px;
	display: block;
    top: 50%;
    left: 44%;
    position: absolute;
    visibility: hidden;
    z-index: -2;
}

img.blue{
	max-width: auto;
	max-height: 65px;
	display: block;
    top: 50%;
    left: 44%;
    position: absolute;
    visibility: hidden;
    z-index: -2;
}

img.white{
	max-width: auto;
	max-height: 65px;
    position: relative;
    margin: 0 auto;
    top: 0px;
    display: none;
}

@media (max-width: 1064px){
	nav{
		height: 60px;
	}
	h1{
		font-family: Arial, serif;
		font-size: 60pt;
		text-align: center;
		color: white;
		margin-top: -22px;
		z-index: 0;
	}
	img.red{
		max-height: 55px;
		max-width: auto;
	}

	img.blue{
		max-height: 55px;
		max-width: auto;
	}

	img.white{
		max-height: 55px;
		max-width: auto;
	}
	
}

@media (max-width: 1024px){
	h1{
		display: none;
	}

	div.box{
		display: none;
	}

	.opacity{
		display: none;
	}
	img.white{
		max-height: 55px;
		max-width: auto;
		display: block;
		margin: 0 auto;
		top: 2px;
	}

	img.red{
		display: none;
	}

	img.blue{
		display: none;
	}
}

@media (max-width: 946px){
	nav{
		height: 40px;
	}
	h1{
		display: none;
	}
	img.white{
		max-height: 35px;
		max-width: auto;
		display: block;
		margin: 0 auto;
		top: 2px;
	}

	img.red{
		display: none;
	}

	img.blue{
		display: none;
	}
}

@media (max-width: 709px){
	h1{
		display: none;
	}

	h2{
		margin-bottom: 5px;
		margin-top: 5px;
	}

	p{
		margin-top: 5px;
		margin-bottom: 0px;
	}
	
	section.aboutme{
		font-size: .75em;
		padding-top: 8%;
		margin-left: 5%;
		float: left;
		width: 90%;
		position: relative;
		z-index: -2;
	}

	img.white{
		display: block;
		margin: 0 auto;
		top: 2px;
	}

	img.red{
		display: none;
	}

	img.blue{
		display: none;
	}
}

@media (max-width: 472px){
	nav{
		height: 35px;
	}
	h1{
		display: none;
	}
	img.white{
		max-height: 30px;
		max-width: auto;
		display: block;
		margin: 0 auto;
		top: 2px;
	}

	img.red{
		display: none;
	}

	img.blue{
		display: none;
	}
}

