nav{
	background: #A51724;
	position: fixed;
	top: 0;
	width: 100%;
	height: 75px;
	z-index: -1;
}

h1{
	font-family: Arial, serif;
	font-size: 72pt;
	text-align: center;
	color: white;
	margin-top: -25px;
	z-index: 0;
}

img.red{
	max-width: auto;
	max-height: 65px;
	display: block;
    top: 50%;
    left: 43%;
    position: absolute;
    visibility: hidden;
}

img.blue{
	max-width: auto;
	max-height: 65px;
	display: block;
    top: 50%;
    left: 43%;
    position: absolute;
    visibility: hidden;
}

img.white{
	max-width: auto;
	max-height: 65px;
    position: relative;
    margin: 0 auto;
    top: 0px;
    display: none;
}

@media (max-width: 1064px){
	nav{
		height: 60px;
	}
	h1{
		font-family: Arial, serif;
		font-size: 60pt;
		text-align: center;
		color: white;
		margin-top: -22px;
		z-index: 0;
	}
	img.red{
		max-height: 55px;
		max-width: auto;
	}

	img.blue{
		max-height: 55px;
		max-width: auto;
	}

	img.white{
		max-height: 55px;
		max-width: auto;
	}
	
}

@media (max-width: 1024px){
	h1{
		display: none;
	}

	img.white{
		max-height: 55px;
		max-width: auto;
		display: block;
		margin: 0 auto;
		top: 2px;
	}

	img.red{
		display: none;
	}

	img.blue{
		display: none;
	}
}

@media (max-width: 946px){
	nav{
		height: 40px;
	}
	h1{
		display: none;
	}
	img.white{
		max-height: 35px;
		max-width: auto;
		display: block;
		margin: 0 auto;
		top: 2px;
	}

	img.red{
		display: none;
	}

	img.blue{
		display: none;
	}
}

@media (max-width: 709px){
	h1{
		display: none;
	}
	img.white{
		display: block;
		margin: 0 auto;
		top: 2px;
	}

	img.red{
		display: none;
	}

	img.blue{
		display: none;
	}
}

@media (max-width: 472px){
	nav{
		height: 35px;
	}
	h1{
		display: none;
	}
	img.white{
		max-height: 30px;
		max-width: auto;
		display: block;
		margin: 0 auto;
		top: 2px;
	}

	img.red{
		display: none;
	}

	img.blue{
		display: none;
	}
}

